<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
 <div layout:fragment="content1">
     <div class="container mt-2">
         <div class="card">
             <div class="card-body">
                 <h3>Liste des Médecins</h3>
                 <form class="row g-3" method="get" th:action="@{/user/indexM}">
                     <div class="col-auto">
                         <label  class="form-label">Key word</label>
                     </div>
                     <div class="col-auto">
                         <input type="text" class="form-control" name="keyword" th:value="${keyword}">
                     </div>
                     <div class="col-auto">
                         <button type="submit" class="btn btn-primary mb-3">Chercher</button>
                     </div>
                 </form>
                 <table class="table">
                     <thead>
                     <tr> <th scope="col">ID</th><th scope="col">Nom</th>
                         <th scope="col">Date</th><th scope="col">Grade</th>
                         <th scope="col">Status</th>
                     </tr>


                     private Date datEmbauche;
                     private String grade;
                     private boolean status;
                     </thead>
                     <tbody>

                     <tr th:each="m:${listMedecins}">
                         <td th:text="${m.id}"></td>
                         <td th:text="${m.nom}"></td>
                         <td th:text="${m.datEmbauche}"></td>
                         <td th:text="${m.grade}"></td>
                         <td th:text="${m.status}"></td>

                         <td > <a class="btn btn-success " sec:authorize="hasRole('ADMIN')"
                                  th:href="@{/admin/editPatient(id=${m.id},keyword=${keyword},page=${currentPage})}" >Edit</a> </td>
                         <td ><a class="btn btn-danger "onclick="return confirm('Etes vous sure?')" sec:authorize="hasRole('ADMIN')"
                                 th:href="@{/admin/deleteM(id=${m.id},keyword=${keyword},page=${currentPage})}" >Delete
                         </a></td>
                     </tr>
                     </tbody>
                 </table>
                 <ul class="nav nav-pills">
                     <li th:each="page,status:${pages}">
                         <a th:class="${status.index==currentPage?'btn btn-primary m-lg-1':'btn btn-outline-primary m-lg-1'}"
                            th:text="${status.index}"
                            th:href="@{/user/indexM(page=${status.index},keyword=${keyword})}" ></a> <!-- call indexM page -->
                     </li>
                 </ul>
             </div>
         </div>
     </div>
 </div>


</body>
</html>